body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    background: url("https://cdn.discordapp.com/attachments/919673952316571689/953938899804241930/portada.jpg");
    background-size: cover;

}
nav{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid #6f6f6f;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

nav .onglets{
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 15px;
}
nav .onglets a{
    text-decoration: none;
    color: #000;
    margin-right: 10px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

footer{
    margin-top: 40px;
    color: #fff;
    padding: 30px 100px;
}
footer h1{
    font-family: 'Playfair Display', serif;
    border-bottom: 1px solid white;
    width: 20%;
    padding-bottom: 5px;
}
footer .services{
    margin-top: -50px;
    display:flex;
    flex-wrap:wrap;
}
footer .services .service{
    margin-right: 100px;
    background-color: black;
    border-radius: 30px;
    padding: 5px;
    padding-left: 15px;
    
}
footer .services .service img{
    max-width: 50px; 
}
footer .services .service p{
    max-width: 300px; 
    font-size: 20px;
}
footer .services .service h3{
    max-width: 300px; 
    font-size: 30px;
    
}
footer .excuse {
    margin-right: 100px;
    background-color: black;
    border-radius: 30px;
    padding: 5px;
    padding: 15px;
    width: 600px;
    margin-top: 100px;
    
}
footer #contact{
    color: rgb(181, 181, 181);
}
@media screen and (max-width:680px){
    footer .services .service{
        margin-right: auto;
        background-color: black;
        border-radius: 0px;
        padding: auto;
        margin-left: auto;
        margin-top: 2rem;
    }
    footer .excuse {
        margin: auto;
        background-color: black;
        border-radius: 00px;
        width: 300px;
        margin-top: 2rem;
    }
    footer #contact{
        color: rgb(181, 181, 181);
        width: 375px;
    }
}